.calendar-day.in-range{background-color:#e5e7eb;color:#000}.calendar-day.start-date{border-top-right-radius:0;border-bottom-right-radius:0}.calendar-day.end-date{border-top-left-radius:0;border-bottom-left-radius:0}
